.input-form{
height: 52px;
width: 100%;
background-color: #f8f8f8;
padding: 0 16px;
border: 1.5px solid #858585;
border-radius: 6px;
}
.input-add-select{
height: 52px;
width: 60%;
background-color: #f8f8f8;
padding: 0 16px;
border: 1.5px solid #858585;
border-radius: 6px;
}

.label-add{
position: absolute;
left: 72.76%;
right: 14.58%;
top: 19.37%;
bottom: 79.01%;
font-weight: 600;
font-size: 16px;
font-style: normal;
}

.input-search{
position: relative;
height: 52px;
width: 355px;
border-radius: 6px;
padding: 0 16px; 
display: flex;
justify-content: center;
align-items: center;
margin-top: 16px;
left: 652px;
}